<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Luna::Docs</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="container">
        <div class="pageHead">
            <table style="width:100%">
                <tr>
                    <td style="width:100%">
                        <h3>Luna::Docs</h3>
                    </td>
                    <td>
                        <a href="http://luna-lang.org" class="btn btn-primary btn-lg">Check out Luna Language</a>
                    </td>
                </tr>
            </table>
        </div>
        <table style="width:100%">
            <tr>
                <td style="width:29%">
                    <div class="pageHead">
                        <div class="topnav">
                            <div class="search-container">
                                <form action="/action_page.php">
                                    <input type="text" placeholder="Search.." name="search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <a class="active" href="#index">StdLib</a>
                        </div>
                    </div>
                </td>
                <td style="width:2%">
                </td>
                <td style="width:69%">
                    <div class="pageHead">
                        <h3>Luna::Docs</h3>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>