<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Luna::Docs</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="container">
        <div class="pageHead">
            <h3>This Is Heroku Awesome!</h3>
            <p>This is the sample of a tutorial on <a href="http://scotch.io">scotch.io</a></p>
            <a href="http://scotch.io/tutorials/" class="btn btn-primary btn-lg">View the Tutorial</a>
        </div>
    </div>

</body>

</html>