<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Luna::Docs</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="container">
        <div class="pageHead">
            <table>
                <tr>
                    <td>
                        <h3 item-width="80%">Luna::Docs</h3>
                    </td>
                    <td>
                        <a href="http://luna-lang.org" class="btn btn-primary btn-lg">Check out Luna Language</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</body>

</html>