<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Luna Language documentation">
    <meta name="keywords" content="Luna,Lang,Luna Language,Documentation,Docs,Luna::Docs,LunaDocs">
    <meta name="author" content="Maciej Mikolajek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Luna::Docs</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style_new.css">
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
    <link rel="icon" href="favicon.ico">

    <script src="https://coffeescript.org/v2/browser-compiler/coffeescript.js" type="text/javascript"></script>
    <script src="search.js" type="text/javascript"></script>
    <script src="JSONtoHTML_new.coffee" type="text/coffeescript"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" type="text/javascript"></script>
</head>

<body id="body" class="light-mode">
    <!-- Header -->
    <div class="pageHeader" style="display: inline-flex">
        <a href="http://luna-lang.org"><img src="luna-logo.png" style="width:64px;height:64px;"></a>
        <h1>Luna::Docs</h1>
    </div>

    <!-- Side navigation -->
    <div class="sidenav" id="menuPane">
        <div class="search-container">
            <form class="searchForm" id="search" name="searchForm" action="javascript:void()" onsubmit="doSearch(document.getElementById('search_text').value)">
                <input type="text" placeholder="Search.." id="search_text" style="width:90%">
                <button id="search"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- Menu goes here -->
    </div>

    <!-- Page content -->
    <div class="main" id="data">
        <!-- Data goes here -->
    </div>

    <!-- Script for showing and hiding accordion menu -->
    <script>
        function showhide(id, senderId) {
            var f = document.getElementById(senderId);
            if (f.innerText == "▶") {
                f.innerText = "▼";
            } else {
                f.innerText = "▶";
            }
            console.log(f.innerText + ' ' + f.id + ' ' + f.innerHTML + ' ' + f.textContent + ' ' + f.title);

            var e = document.getElementById(id);
            e.style.display = (e.style.display == 'block') ? 'none' : 'block';
        }

        function toggleDarkLight() {
            var body = document.getElementById("body");
            var currentClass = body.className;
            body.className = currentClass == "dark-mode" ? "light-mode" : "dark-mode";
        }

        $(function() {
            // this will get the full URL at the address bar
            var url = window.location.href;

            // passes on every "a" tag
            $(".menuPane a").each(function() {
                // checks if its the same on the address bar
                if (url == (this.href)) {
                    console.log(url)
                }
            });
        });

        function doSearch(text) {
            //remove previous highlight
            if (window.find && window.getSelection) {
                document.designMode = "on";
                var sel = window.getSelection();
                sel.collapse(document.body, 0);
                document.execCommand("HiliteColor", false, transparent);
                sel.collapseToEnd();
                document.designMode = "off";
            } else if (document.body.createTextRange) {
                var textRange = document.body.createTextRange();
                textRange.execCommand("BackColor", false, transparent);
                textRange.collapse(false);
            }

            //add highlight to searched text on page
            if (window.find && window.getSelection) {
                document.designMode = "on";
                var sel = window.getSelection();
                sel.collapse(document.body, 0);

                while (window.find(text)) {
                    document.execCommand("HiliteColor", false, "yellow");
                    sel.collapseToEnd();
                }
                document.designMode = "off";
            } else if (document.body.createTextRange) {
                var textRange = document.body.createTextRange();
                while (textRange.findText(text)) {
                    textRange.execCommand("BackColor", false, "yellow");
                    textRange.collapse(false);
                }
            }
        }
    </script>
</body>

</html>