<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Luna::Docs</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style_new.css">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <script src="https://coffeescript.org/v2/browser-compiler/coffeescript.js" type="text/javascript"></script>
    <script src="search.js" type="text/javascript"></script>
    <script src="JSONtoHTML_new.coffee" type="text/coffeescript"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <!-- Header -->
    <div class="pageHeader" align="center">
        <table style="width:80%">
            <tr>
                <td style="width:15%">
                    <img src="luna-logo.png" style="width:64px;height:64px;">
                </td>
                <td style="width:70%">
                    <h2>Luna::Docs</h2>
                </td>
                <td style="width:15%">
                    <a href="http://luna-lang.org">Luna Language</a>
                </td>
            </tr>
        </table>
    </div>

    <!-- Side navigation -->
    <div class="sidenav" id="menuPane">
        <!-- Menu goes here -->
    </div>

    <!-- Page content -->
    <div class="main" id="data">
        <!-- Data goes here -->
    </div>

    <!-- Script for showing and hiding accordion menu -->
    <script>
        function showhide(id, senderId) {
            var f = document.getElementById(senderId);

            if (f.innerText == "↓") {
                f.innerText = "→";
            }

            if (f.innerText == "→") {
                f.innerText = "↓";
            }
            console.log(f.innerText);

            var e = document.getElementById(id);
            e.style.display = (e.style.display == 'block') ? 'none' : 'block';
        }
    </script>
</body>

</html>