<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Luna Language documentation">
    <meta name="keywords" content="Luna,Lang,Luna Language,Documentation,Docs,Luna::Docs,LunaDocs">
    <meta name="author" content="Maciej Mikolajek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Luna Docs</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
    <link rel="icon" href="favicon.ico">

    <script src="https://coffeescript.org/v2/browser-compiler/coffeescript.js" type="text/javascript"></script>
    <script src="JSONtoHTML.coffee" type="text/coffeescript"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" type="text/javascript"></script>

    <script>
        $(document).ready(function() {
            // Add smooth scrolling to all links
            $("a").on('click', function(event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function() {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>
</head>

<body id="body">
    <!-- Header -->
    <div class="pageHeader" style="display: inline-flex">
        <a href="http://luna-lang.org"><img src="luna-logo.png" style="width:64px;height:64px;"></a>
        <p class="lunaDocsLogo">Luna Docs</p>
    </div>
    <!-- Side navigation -->
    <div class="sidenav" id="menuPane">
        <!-- Menu goes here -->
    </div>

    <!-- Page content -->
    <div class="main" id="data">
        <!-- Data goes here -->
    </div>

    <!-- Script for showing and hiding accordion menu -->
    <script>
        function showhide(id, senderId) {
            var f = document.getElementById(senderId);
            if (f.innerText == "▶") {
                f.innerText = "▼";
            } else {
                f.innerText = "▶";
            }
            console.log(f.innerText + ' ' + f.id + ' ' + f.innerHTML + ' ' + f.textContent + ' ' + f.title);

            var e = document.getElementById(id);
            e.style.display = (e.style.display == 'block') ? 'none' : 'block';
        }
    </script>
</body>

</html>