<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet/less" type='text/css' href="css/style.less">

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Luna Language documentation">
    <meta name="keywords" content="Luna,Lang,Luna
    Language,Documentation,Docs,Luna::Docs,LunaDocs">
    <meta name="author" content="Maciej Mikolajek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luna Docs</title>

    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
    <link rel="icon" href="favicon.ico">

    <!-- Scripts -->
    <script>
        //Fix for vanilla JS
        var exports = {};
    </script>
    <script src="Scripts/marked/marked.min.js"></script>
    <script src="Scripts/luna-logo/index.js"></script>
    <script src="Scripts/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/less/dist/less.min.js"></script>
    <script src="Scripts/JsonToHtml.js"></script>
    <script src="Scripts/index.coffee"></script>
</head>

<body id="body">
    <!-- Header -->
    <div class="pageHeader" style="display: inline-flex">
        <a href="http://luna-lang.org">
            <div id="logoPlace">
                <!-- Logo goes here -->
            </div>
        </a>
        <p class="lunaDocsLogo">Luna Docs</p>
        <span class="showMenuOnSmallScreen" onclick="openNav()">☰</span>
    </div>
    <!-- Side navigation -->
    <div class="sidenav" id="menuPane">
        <!-- Menu goes here -->
    </div>

    <!-- Page content -->
    <div class="main" id="data">
        <!-- Data goes here -->
    </div>

    <!-- Script for creation of logo -->
    <script>
        var logo = document.getElementById("logoPlace");
        logo.innerHTML = exports.generateWhiteBackgroundLogo(24, true);
    </script>

    <!-- script to load tree menu-->
    <script defer src="Scripts/TreeHelpers.js" type="text/javascript"></script>
</body>

</html>