<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Luna::Docs</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="container">
        <div class="pageHead">
            <table style="width:100%">
                <tr>
                    <td style="width:100%">
                        <h3>Luna::Docs</h3>
                    </td>
                    <td>
                        <a href="http://luna-lang.org" class="btn btn-primary btn-lg">Check out Luna Language</a>
                    </td>
                </tr>
            </table>
        </div>
        <table style="width:100%">
            <tr>
                <td style="width:29%">
                    <div class="pageHead">
                        <form role="search">
                            <div class="search-control">
                                <input type="search" id="site-search" name="q" placeholder="Search the site..." aria-label="Search through site content">
                                <button>Search</button>
                            </div>
                        </form>
                    </div>
                </td>
                <td style="width:2%">
                </td>
                <td style="width:69%">
                    <div class="pageHead">
                        <h3>Luna::Docs</h3>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>