<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Luna Language documentation">
    <meta name="keywords" content="Luna,Lang,Luna Language,Documentation,Docs,Luna::Docs,LunaDocs">
    <meta name="author" content="Maciej Mikolajek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Luna Docs</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
    <link rel="icon" href="favicon.ico">

    <script>
        var exports = {};
    </script>
    <script src="https://coffeescript.org/v2/browser-compiler/coffeescript.js" type="text/javascript"></script>
    <script src="JSONtoHTML.coffee" type="text/coffeescript"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="luna_logo.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body id="body">
    <!-- Header -->
    <div class="pageHeader" style="display: inline-flex">
        <span class="showMenuOnSmallScreen" onclick="openNav()">☰</span>
        <a href="http://luna-lang.org">
            <div id="logo" style="padding:5px"></div>
        </a>
        <p class="lunaDocsLogo">Luna Docs</p>
    </div>
    <!-- Side navigation -->
    <div class="sidenav" id="menuPane">
        <!-- Menu goes here -->
    </div>

    <!-- Page content -->
    <div class="main" id="data">
        <!-- Data goes here -->
    </div>

    <!-- Script for showing and hiding side menu -->
    <script>
        function openNav() {
            if (document.getElementById("menuPane").style.width != "350px") {
                document.getElementById("menuPane").style.width = "350px";
            } else {
                document.getElementById("menuPane").style.width = "0";
            }
        }
    </script>
    <script src="CreateTree.js" type="text/javascript"></script>
    <script>
        var logo = document.getElementById("logo");
        logo.innerHTML = exports.generateText(32, true)
            //logo.innerHTML = exports.generateInAppLogo(32, true) + exports.generateText(32, true);
            //logo.innerHTML = exports.generateWhiteBackgroundLogo(32, true);
            //logo.innerHTML = exports.generateMinimalBlackLogo(32, true);
            //logo.innerHTML = exports.generateLogo(32, true);
        console.log(logo.innerHTML);
    </script>
</body>

</html>