body {
    font-family: "Quicksand", sans-serif;
}

body.dark-mode {
    background-color: #211F1A;
}

body.dark-mode .sidenav {
    background-color: #1C1A17;
}

body.dark-mode .pageHeader {
    background-color: rgb(24, 23, 20);
}

body.dark-mode .pageHead {
    background-color: #1C1A17
}

body.dark-mode .pageHead>hr {
    border-top-color: #1C1A17
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode a:hover {
    color: #f1f1f1;
}

body.dark-mode a,
body.dark-mode code,
body.dark-mode pre {
    color: #E8A455;
}

body.dark-mode code,
body.dark-mode pre {
    background-color: #211F1A;
    border: 1px solid #1C1A17;
}

body.dark-mode kbd {
    color: #ffffff;
    background-color: #EEA236;
}

body.light-mode {
    background-color: #ffffff;
}

body.light-mode .sidenav {
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
}

body.light-mode .pageHeader {
    background-color: #eaeaea;
    border: 1px solid #e1e1e1;
}

body.light-mode .pageHead {
    background-color: #f1f1f1
}

body.light-mode .pageHead>hr {
    border-top-color: #f1f1f1
}

body.light-mode p,
body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode h4,
body.light-mode h5,
body.light-mode h6 {
    color: #1C1A17;
}

body.light-mode a:hover {
    color: white;
    background-color: dodgerblue;
}

body.light-mode a,
body.light-mode code,
body.light-mode pre {
    color: dodgerblue;
    background-color: transparent;
}

body.light-mode code,
body.light-mode pre {
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
}

body.light-mode kbd {
    color: #211F1A;
    background-color: dodgerblue;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 82px;
}

a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: inline-block;
}

.main {
    margin-left: 350px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
    margin-top: 0px;
}

@media screen and (max-width: 600px) {
    .sidenav {
        display: none
    }
    .main {
        margin-left: 0px;
        margin-top: 82px;
        /* Same as the width of the sidenav */
        padding: 0px 10px;
    }
    .pageHeader {
        width: 100% !important;
    }
}

.pageHeader {
    height: 82px;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.pageHead {
    padding: 20px;
    margin-top: 20px;
    color: inherit;
}

.pageHead p {
    margin-bottom: 15px;
    font-weight: 100
}

.container .pageHead {
    border-radius: 30px;
}

.pageHead .container {
    max-width: 100%
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:768px) {
    .container {
        width: 90%
    }
}

@media (min-width:992px) {
    .container {
        width: 90%
    }
}

@media (min-width:1200px) {
    .container {
        width: 90%
    }
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-size: inherit
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

code {
    border-radius: 0
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #ffffff;
    background-color: #EEA236;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25)
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    box-shadow: none
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 14px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 0
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll
}