body {
    font-family: "Quicksand", sans-serif;
    background-color: #211F1A
}

.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C1A17;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 100px;
}

a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: inline-block;
    color: #E8A455;
}

.main {
    margin-left: 350px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
    margin-top: 130px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.pageHeader {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C1A17;
    overflow-x: hidden;
}

.pageHead {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #1C1A17
}

.pageHead p {
    margin-bottom: 15px;
    font-weight: 100
}

.pageHead>hr {
    border-top-color: #1C1A17
}

.container .pageHead {
    border-radius: 30px;
}

.pageHead .container {
    max-width: 100%
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:768px) {
    .container {
        width: 90%
    }
}

@media (min-width:992px) {
    .container {
        width: 90%
    }
}

@media (min-width:1200px) {
    .container {
        width: 90%
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a:hover {
    color: #f1f1f1
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-size: inherit
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

code {
    color: #eea236;
    background-color: #21201A;
    border-radius: 0
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #ffffff;
    background-color: #EEA236;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25)
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    box-shadow: none
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 14px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #EEA236;
    background-color: #211F1A;
    border: 1px solid #1C1A17;
    border-radius: 0
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll
}